/*
font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'ManchesterSignature';
*/

body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  margin: 0;
  padding: 0;
}

.entrance {
  background-image: url("images/entranceSave2.png");
  flex-grow: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-wrapper {
  background-image: url("images/sfondo.png");
  width: calc(100% / 3);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.text {
  color: #2F2F2F;
  flex-grow: auto;
  text-align: center;
}

.spacer {
  flex-grow: 1;
}

.anelli {
  width: 30%;
  height: auto;
  margin-bottom: 3%;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}


h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 64px;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}
