/*
font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif;
*/

@font-face {
  font-family: 'ManchesterSignature';
  src: url('fonts/ManchesterSignature.ttf');
}

body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  margin: 0;
  padding: 0;
}

.entrance {
  background-image: url("images/entranceSave2.png");
  flex-grow: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text {
  background-image: url("images/sfondo.png");
  flex-grow: 1;
}

h1 {
  font-family: 'ManchesterSignature', 'Great Vibes', cursive;
  font-size: 28em;
  color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 0;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: calc(16px + 0.5vw);
}

h3 {
  font-family: 'Great Vibes', cursive;
  font-size: calc(16px + 5vw;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: calc(8px + 0.5vw);
}
