/*
font-family: 'Great Vibes', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'ManchesterSignature';

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape)
and (orientation : portrait) {
}

*/

body, html {
  height: 100%;
  margin: 0;
}

.wrapper {
  display: flex;
  height: 100%;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  margin: 0;
  padding: 0;
}

.entrance {
  background-image: url("images/entranceSave2.png");
  flex-grow: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text-wrapper {
  background-image: url("images/Sfondo.png");
  width: calc(100% / 3);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.text {
  color: #2F2F2F;
  flex-grow: auto;
  text-align: center;
}

.spacer {
  flex-grow: 1;
}

.anelli {
  width: 30%;
  height: auto;
  margin-bottom: 3%;
}

p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}


h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 1.5em;
}

h2 {
  font-family: 'Great Vibes', cursive;
  font-size: 1em;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75em;
}


/* ************** COLUMN */
@media only screen
and (orientation : portrait) {
  .wrapper {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-content: flex-start;
    margin: 0;
    padding: 0;
  }

  .text-wrapper {
    height: calc(100% / 3);
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-content: center;
  }
  .anelli {
    width: 20%;
    height: auto;
    margin-bottom: 3%;
  }
  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1em;
  }

  p {
    font-size: 0.75em;
  }
}

@media only screen
and (min-height : 650px)
and (orientation : portrait) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }

  p {
    font-size: 0.8em;
  }
}

@media only screen
and (min-height : 1000px)
and (orientation : portrait) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 1em;
  }
}

@media only screen
and (min-height : 1300px)
and (orientation : portrait) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.75em;
  }

  p {
    font-size: 1.25em;
  }
}

@media only screen
and (min-height : 1600px)
and (orientation : portrait) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3em;
  }

  p {
    font-size: 1.5em;
  }
}

@media only screen
and (min-width : 650px)
and (orientation : landscape) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 0.9em;
  }
}

@media only screen
and (min-width : 1000px)
and (orientation : landscape) {
  h1 {
    font-size: 3em;
  }

  h2 {
    font-size: 2em;
  }

  p {
    font-size: 0.9em;
  }
}

@media only screen
and (min-width : 1300px)
and (orientation : landscape) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 2.75em;
  }

  p {
    font-size: 1em;
  }
}

@media only screen
and (min-width : 1600px)
and (orientation : landscape) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3em;
  }

  p {
    font-size: 1.25em;
  }
}
